$main-neutral: rgb(248, 237, 222);
$med-neutral: rgb(139, 109, 70);
$dark-neutral: rgb(61, 50, 35);
$darkest-neutral: rgb(19, 11, 1);


$warm-accent-light: rgb(243, 213, 137);
$warm-accent-med: rgb(158, 120, 24);
$warm-accent-dark: rgb(65, 47, 3);
$warm-accent-darkest: rgb(14, 10, 1);

$contrast-light:rgb(208, 139, 248);
$contrast-med:rgb(103, 39, 139);
$contrast-dark:rgb(45, 15, 63);
$contrast-darkest:rgb(14, 3, 20);